body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 768px;
    background-color: aliceblue;
    background: url('https://unsplash.com/photos/p8gzCnZf39k/download?force=true&w=1920') bottom no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    font-size: 4rem;
    font-family: 'Bona Nova', serif;
}

h1 {
    color: rgb(86, 98, 110);
    background-color: #ffffff88;
    padding: 1rem 3rem;
    border-radius: 2%;
    font-size: 8rem;
    margin-bottom: 0;
}

p.project#project {
    color: rgb(86, 98, 110);
    background-color: #ffffff88;
    padding: 1rem 1rem;
    border-radius: 2%;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}

p.project#project::first-line {
    text-decoration: underline;
}

.news {
    background-color: #0000000f;
    padding: 50px 0 32px;
    background-image: url('https://unsplash.com/photos/I0wNU5EcGG4/download?force=true&w=1920');
    background-attachment: fixed;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border: 1px solid rgb(128, 128, 128);
    border-bottom: 3px double rgb(128, 128, 128);
    background-color: #ffffffe6;
    font-family: 'Bona Nova', serif;
}

article:nth-child(even) {
    background-color: rgba(255, 239, 213, 0.93);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: deepskyblue;
    text-decoration: underline;
}

article h2 {
    font-family: 'Bona Nova', serif;
    margin-bottom: 5px;
}

article:first-of-type h2::after, article:nth-of-type(2) h2::after {
    content: ' New';
    color: blue;
    font-size: 1.2em;
    text-transform: uppercase;
}

article:first-of-type h2:hover, article:nth-of-type(2) h2:hover, article:first-of-type h2:hover::after, article:nth-of-type(2) h2:hover::after {
    color: deepskyblue;
    text-decoration: underline;
    /* text-transform: uppercase; */
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* border: 5px double black; */
}

article p {
    position: relative;
    /* padding-bottom: 10px; */
}

article p.annotation::first-letter {
    color: blue;
    font-weight: bolder;
    font-size: 3rem;
}

article p.link {
    color: blue;
}

article p.link:hover::after {
    content: ' . . ?';
    font-weight: bolder;
}

/* article p::after {
    content: ' [читать далее]';
    color: blue;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1px;
} */

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    background-color: aliceblue;
}

footer .links > a {
    color: lightslategrey;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: lightslategrey;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
